<h1>Listing collections</h1>

<div class="span-16">
<% form_for @search do |f| %>
  <p>
    <%= f.text_field :name_like %>
    <%= f.submit "Search" %>
  </p>
  <p>
  </p>
<% end %>
</div>
<div class="span-8 last"><div style="float:right;"><%= link_to 'New collection', new_collection_path %></div></div>

<table>
  <tr>
    <th><%= order @search, :by => :collected_on %></th>
    <th>Name</th>
    <th>Notes</th>
    <th>Collected by</th>
    <th><%= order @search, :by => :amount %></th>
  </tr>

<% @collections.each do |collection| %>
  <tr>
    <td><%=h collection.collected_on %></td>
    <td><%=h collection.name %></td>
    <td><%=h collection.notes %></td>
    <td><%=h collection.collector.full_name if collection.collector %></td>
    <td><%=h number_to_currency collection.amount %></td>
    <td><%= link_to 'Show', collection %></td>
    <td><%= link_to 'Edit', edit_collection_path(collection) %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @people %>
