<% form_for([@household, @person]) do |f| %>
	<div class="span-24 last">
		<%= f.error_messages %>
	</div>

	<div class="span-24 last">
		<div class="span-8">
		    <b>First Name</b><br />
		    <%= f.text_field :first_name %>
		</div>
		<div class="span-8 last">
		    <b>Last Name</b><br />
			<%= f.text_field :last_name %>
		</div>
		<div class="span-24 last">&nbsp;</div>
		<div class="span-8">
		    <b>Email</b><br />
		    <%= f.text_field :email %>
		</div>
		<div class="span-8 last">
		    <b>Phone</b><br />
		    <%= f.text_field :phone %>
		</div>
		<div class="span-24 last">&nbsp;</div>
	</div>
	<div class="span-24 last">
    	<p><%= f.submit 'Submit' %></p>
	</div>
<% end %>
