<script type="text/javascript">
$j(document).ready(function () {
	if ($j("#contribution_person_id").val().length > 0) {$j("#attribute_to_household").removeAttr('disabled');}
	
	$j("#clear_person").click( function() {
		$j("#attribute_to_household").attr('disabled', 'disabled');
	    $j("#contribution_person_id").val('');
		$j("#contributor_name").val('');
		$j("#contribution_person_name").val('');
	});
});
function setPersonId(text, li) {
    $j("#contribution_person_id").val(li.id);
	$j("#attribute_to_household").removeAttr('disabled');
	$j("#attribute_to_household").val('true');
	$j("#contributor_name").val(text.value);
}
</script>

<div class="span-24 last">
	<b>Search for contributors</b>: 
	<%= text_field_with_auto_complete :contribution, :person_name, {}, {:url=>formatted_people_path(:js), :method=>:get, :with=>"'search='+element.value", :after_update_element => "setPersonId"} %> 
	<a id="clear_person" href="javascript:void(0)">Clear Person</a>
</div>
<div class="span-24 last">&nbsp;</div>

<% form_for([@collection, @contribution]) do |f| %>
	<div class="span-24 last">
		<%= f.error_messages %>
	</div>

	<div class="span-24 last">
		<div class="span-8">
			<%= f.hidden_field :person_id %>
			<b>Contributor</b><br />
			<%= text_field_tag 'contributor_name', (@contribution.person.full_name if @contribution.person), {:size => 30, :disabled=>true} %>
		</div>
		<div class="span-8">
			<b>Attribute To</b><br />
			<%= select_tag :attribute_to_household, "<option value=true #{'selected=selected' if @contribution.household}>Household</option><option value=false #{'selected=selected' if !@contribution.household}>Individual</option>", :disabled => true %>
		</div>
		<div class="span-8 last">
			<b>Received On</b><br />
			<%= f.date_select :received_on %>
		</div>
		<div class="span-24 last">&nbsp;</div>
		<div class="span-16">
			<div class="span-8">
			    <b>Contribution Type<br />
				<%= f.select :contribution_type, Contribution::TYPE_TEXTS.sort.collect {|type| [ type[1], type[0] ] }, :selected => @contribution.contribution_type %>
			</div>
			<div class="span-8 last">
				<b>Amount</b><br />
				<%= f.text_field :amount %>
			</div>
			<div class="span-16 last">&nbsp;</div>
			<div class="span-8">
				<b>Reference</b><br />
				<%= f.text_field :reference %>
			</div>
			<div class="span-8 last">
				<b>Fund</b><br />
				<%= f.collection_select :fund_id, Fund.all, :id, :name %>
			</div>
		</div>
		<div class="span-8 last">
			<b>Memo</b><br />
			<%= f.text_area :memo, :style => "height:60px;" %>
		</div>
		<div class="span-24 last">&nbsp;</div>
	</div>
	<div class="span-24 last">
		<p>
			<%= f.submit "Submit" %>
		</p>
	</div>
<% end %>
