<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Tracker (<%= controller.controller_name %>: <%= controller.action_name %>)</title>
	<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">	
	<!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>
<body>
<p style="color: green"><%= notice %></p>
<div class="container">
	<div id="user_nav" style="float: right; font-size: 0.9em;">
		<% if current_user %>
			<%=h current_user.username %>
			<%= link_to "Edit profile", edit_user_path(current_user) %>  
		    <%= link_to "Logout", logout_path %>
		<% else %>
			<%= link_to "Register", new_user_path %>
			<%= link_to "Log in", login_path %>
		<% end %>
	</div>
	<%= yield %>
</div>
</body>
</html>
